body {
  font-family: 'Arial, sans-serif';
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contact-section {
  padding: 40px 20px;
  text-align: center;
}
.contact-section h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}
.contact-section .description {
  color: #808080;
  font-size: 14px;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.contact-section .responsive-hr {
  width: 30px;
  border: 1px solid #333;
  margin: 20px auto;
}
.contact-section .info-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.contact-section .info-boxes .info-box {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}
.contact-section .info-boxes .info-box h3 {
  color: #17a589;
  margin-bottom: 10px;
}
.contact-section .info-boxes .info-box p {
  color: #000000;
}
.contact-section .info-boxes .info-box i {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  color: #17a589;
}
.contact-section .contact-form {
  margin: 0 auto;
}
.contact-section .contact-form .input-group {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.contact-section .contact-form .input-group i {
  font-size: 18px;
  margin-right: 10px;
  vertical-align: middle;
  color: #b3b3b3;
}
.contact-section .contact-form .input-group input,
.contact-section .contact-form .input-group textarea {
  border: none;
  background: none;
  outline: none;
  flex-grow: 1;
  padding-left: 10px;
  font-size: 14px;
  color: #333;
}
.contact-section .contact-form .input-group.message textarea {
  height: 100px;
  resize: none;
}
.contact-section .contact-form button {
  background-color: #17a589;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
.contact-section .contact-form button:hover {
  background-color: #117864;
}
@media (min-width: 1000px) {
  .contact-section .contact-form .input-row {
    display: flex;
  }
  .contact-section .contact-form .input-row .input-group:nth-child(1),
  .contact-section .contact-form .input-row .input-group:nth-child(2) {
    width: 45%;
  }
  .contact-section .contact-form .input-row .input-group:nth-child(2) {
    margin-left: 4%;
  }
}
@media (min-width: 1200px) {
  .contact-section .info-box {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-section .info-box {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .contact-section .info-box {
    width: 100%;
  }
}
